# dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# builds
dist/
.next/
out/
build/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# testing
coverage/

# env files
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# turbo
.turbo

# vercel
.vercel

# IDE
.idea/
.vscode/
*.swp
*.swo

# next.js
next-env.d.ts
